<div class="img-section">    
    <img class="beer-img" src="{{image_url}}" alt="beer image">
    <form action="/beers/add-to-wish-list" method="post">
        <input type="hidden" name="beer_id" value="{{id}}">
        <input type="hidden" name="name" value="{{name}}">
        <input type="hidden" name="tagline" value="{{tagline}}">
        <input type="hidden" name="first_brewed" value="{{first_brewed}}">
        <input type="hidden" name="description" value="{{description}}">
        <input type="hidden" name="image_url" value="{{image_url}}">
        <input type="hidden" name="abv" value="{{abv}}">
        <input type="hidden" name="ibu" value="{{ibu}}">
        <input type="hidden" name="ph" value="{{ph}}">
        <input type="hidden" name="yeast" value="{{ingredients.yeast}}">
        <input type="hidden" name="food_pairing" value="{{food_pairing}}">
        <input type="hidden" name="brewers_tips" value="{{brewers_tips}}">
        <button>Add to wishlist</button>
    </form>
</div>

<div class="beer-information">
    <h1>{{name}}</h1>
    <small>{{tagline}}</small>
    <p>{{description}}</p>

    <h3>Food Pairing</h3>
    <ul>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p><span>Brewers Tips: </span>{{brewers_tips}}</p>

</div>